{% extends 'base.html.twig' %}

{% block title %}ImageUpload index{% endblock %}

{% block body %}
    <h1>ImageUpload index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Path</th>
                <th>CreatedOn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_upload in image_uploads %}
            <tr>
                <td>{{ image_upload.id }}</td>
                <td>{{ image_upload.type }}</td>
                <td>{{ image_upload.path }}</td>
                <td>{{ image_upload.createdOn ? image_upload.createdOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_image_test_contoller_show', {'id': image_upload.id}) }}">show</a>
                    <a href="{{ path('app_image_test_contoller_edit', {'id': image_upload.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_test_contoller_new') }}">Create new</a>
{% endblock %}
