{% extends 'base.html.twig' %}

{% block title %}ImageUpload{% endblock %}

{% block body %}
    <h1>ImageUpload</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image_upload.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ image_upload.type }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ image_upload.path }}</td>
            </tr>
            <tr>
                <th>CreatedOn</th>
                <td>{{ image_upload.createdOn ? image_upload.createdOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_image_test_contoller_index') }}">back to list</a>

    <a href="{{ path('app_image_test_contoller_edit', {'id': image_upload.id}) }}">edit</a>

    {{ include('image_test_contoller/_delete_form.html.twig') }}
{% endblock %}
